{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>


<h1>Home</h1>

<h3>A Skeleton Website- named BarbersOnline with few funtionalities</h3>


<h5>This is a head sketch developed website with no beautification, just blue-print.</h5>
<br>

<h5>This websites houses list of barbers, their profiles, their potential Top services rendered and the outcome of this service</h5>

<br>
<hr>

<h4 class="text-align: center"><a href="{% url 'barbers' %}">Barbers</a></h4>
<hr>
<h7><a href="{% url 'about' %}">Read More Here</a></h7>

{% endblock %}